<div class="container">

<div class="name color-gradient">
    Proyectos Web
    </div>

<div class="proyectos-container">
    <div class="proyecto">
        <div class="image-container"><img src="../../../assets/player2.png" alt=""></div>
        <div class="text-container">
            <h1>Player2</h1>
            <div class="spanSobrePuesto">
                <span>Web app especialmente diseñada para Player2, concebida como un medio periodístico innovador y atractivo.</span>
            </div>
            <div class="icon-container">
                <a href="https://github.com/mndiazf/player2-web-site" target="_blank"><img src="../../../assets/github-logo.png" alt=""></a>
                <a href="https://playerdos.com/#/" target="_blank"><img src="../../../assets/external-link.png" alt=""></a>
            </div>
            <div class="tecn">
                <span>Angular</span>
                <span>TypeScript</span>
                <span>Html</span>
                <span>CSS</span>
            </div>
        </div>
    </div>
    <div class="proyecto">
        <div class="text-containerl element">
            <h1>Plataforma web para generar horarios medicos</h1>
            <div class="spanSobrePuestol">
                <span>Plataforma web que simplifica la búsqueda medicos y programación de horas de atencion médicas. Los usuarios pueden seleccionar un médico, agregar una hora de disponibilidad según la fecha y elegir el horario más conveniente para el medico.</span>
            </div>
            <div class="icon-containerl">
                <a href="https://github.com/mndiazf/agendaWeb"  target="_blank"><img src="../../../assets/github-logo.png" alt="githublogo"></a>
                <a href="http://www.agendaweb.tech/"  target="_blank"><img src="../../../assets/external-link.png" alt="linklogo"></a>
            </div>
            <div class="tecnl">
                <span>AWS</span>
                <span>Angular</span>
                <span>TypeScript</span>
                <span>Html</span>

            </div>
            <div class="tecnl">
                <span>CSS</span>
                <span>Spring Boot</span>
                <span>PostgreSQL</span>
            </div>
        </div>
        <div class="image-container element"><img src="../../../assets/agenda-web.png" alt=""></div>
    </div>
    <div class="proyecto">
        <div class="image-container3"><img src="../../../assets/RegistrApp.jpeg" alt=""></div>
        <div class="text-container">
            <h1>RegistrApp</h1>
            <div class="spanSobrePuesto">
                <span>Aplicación móvil que habilita a los profesores a generar códigos QR. Al escanearlos, los alumnos quedan automáticamente registrados como presentes en la clase.</span>
            </div>
            <div class="icon-container">
                <a href="https://github.com/mndiazf/RegistrApp" target="_blank"><img src="../../../assets/github-logo.png" alt=""></a>
            </div>
            <div class="tecn">
                <span>AWS</span>
                <span>Angular</span>
                <span>TypeScript</span>
                <span>Html</span>
                <span>CSS</span>
            </div>
            <div class="tecn">
                <span>Ionic</span>
                <span>Spring Boot</span>
                <span>PostgreSQL</span>
            </div>
        </div>
    </div>
</div>


</div>