/* Agrega estos estilos a tu archivo de estilos, por ejemplo, styles.css */

.footer-container {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  /* Agrega los íconos de las redes sociales que estés utilizando (FontAwesome, por ejemplo) */
  