<!-- Estrellas -->

<div class="shooting-stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>

<!-- Sección inicio -->

<div class="hero-section">
    <h1>¡Hola! 👋, soy</h1>
    <div class="name color-gradient">
    Manolo Díaz
    </div>
    <h3>Estudiante de ingenieria en informática, apasionado por el desarrollo Fullstack</h3>
    <div class="buttons-container">
      <a href="../../../assets/Currículum Vitae CV.pdf" target="_blank" class="diseño-button">Descargar CV <img src="../../../assets/descargando-archivo.png" alt=""></a>
      <a href="mailto:mn.diaz.f@gmail.com?subject=Asunto del correo&body=Hola, te escribo para..." class="diseño-button">Contáctame 📧</a>
    </div>

    <a class="scroll-down-arrow" (click)="scrollToContent()">
        <img src="../../../assets/271220.png" alt="">
    </a>
</div>


<div class="content" #content>
  <app-about-me></app-about-me>
</div>
