<!-- Estrellas -->

<div class="shooting-stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>

<!-- Sección inicio -->

<div class="hero-section">
    <h1>¡Hola! 👋, soy</h1>
    <div class="name color-gradient">
    Manolo Díaz
    </div>
    <h3>Estudiante de ingenieria en informática, apasionado por el desarrollo Fullstack</h3>
    <div class="buttons-container">
      <a href="../../../assets/Currículum Vitae CV.pdf" target="_blank" class="diseño-button">Descargar CV <img src="../../../assets/descargando-archivo.png" alt=""></a>
      <div class="redes-container">
        <a href="https://www.linkedin.com/in/manolo-diaz-fernandez-215567224/" target="_blank" class="icono"><img src="../../../assets/linkedin.png" alt=""></a>
        <a href="https://github.com/mndiazf" target="_blank" class="icono icono-github"><img src="../../../assets/github.png" alt=""></a>
      </div>
    </div>

    <a class="scroll-down-arrow" (click)="scrollToContent()">
        <img src="../../../assets/271220.png" alt="">
    </a>
</div>


<div class="content" #content>
  <app-about-me></app-about-me>
  <app-proyects></app-proyects>
</div>
