<div class="container">
    <h1>Sobre mí</h1>
    <div class="content">
        <div class="container-img">
            <img src="../../../assets/DALL·E 2023-02-14 18.30.34 - a cat developer cyberpunk.png" alt="Imagen de perfil">
        </div>
        <div class="container-text">
            <p>Soy un entusiasta de la creación de sitios web que cautiven a los usuarios con su funcionalidad y diseño. Mi camino ha sido autodidacta, dedicado a absorber todo lo que puedo sobre tecnologías emergentes y a pulir mis habilidades.</p>
            <br>
            <p>En mi trabajo, la responsabilidad es no solo una expectativa, sino mi compromiso, y me esfuerzo por escribir código que se caracterice por ser claro y mantenido con las mejores prácticas en mente.</p>
            <br>
            <p class="optional">En cada línea de código, busco la simplicidad y la elegancia, reflejando mi pasión por el aprendizaje constante y mi deseo de hacer contribuciones significativas a la informática.</p>
            <br>
            <p>Siempre estoy dispuesto a aprender más y a colaborar, así que siéntete libre de contactarme si tienes alguna pregunta o quieres discutir posibles proyectos.</p>
        </div>
    </div>
    
    <div class="knowledge">
        <div class="duo">
            <div>
                <img src="../../../assets/codigo.png" alt="">
                <h1>Frontend</h1>
                <div class="span-container">
                    <span><b>HTML5</b></span>
                    <span><b>CSS3</b></span>
                    <span><b>SCSS</b></span>
                    <span><b>JavaScript</b></span>
                    <span><b>TypeScript</b></span>
                    <span><b>Angular</b></span>
                    <span><b>Ionic</b></span>
                </div>
            </div>
            <div>
                <img src="../../../assets/configuraciones.png" alt="">
                <h1>Backend</h1>
                <div class="span-container">
                    <span><b>Java</b></span>
                    <span><b>NodeJS</b></span>
                    <span><b>Spring Boot</b></span>
                    <span><b>Docker</b></span>
                    <span><b>Spring Security</b></span>
                    <span><b>JWT</b></span>
                    <span><b>Lombok</b></span>

                </div>
            </div>
        </div>
        <div class="duo">
            <div>
                <img src="../../../assets/servidores.png" alt="">
                <h1>Servicios Cloud (AWS)</h1>
                <div class="span-container">
                    <span><b>IAM</b></span>
                    <span><b>Ec2</b></span>
                    <span><b>RDS</b></span>
                    <span><b>Security Groups</b></span>
                    <span><b>API Gateway</b></span>
                    <span><b>Cloud Watch</b></span>
                </div>
            </div>
            <div>
                <img src="../../../assets/tubo-de-ensayo.png" alt="">
                <h1>Testing</h1>
                <div class="span-container">
                    <span><b>JUnit 5</b></span>
                    <span><b>Karma</b></span>
                    <span><b>Jasmine</b></span>
                    <span><b>Mockito</b></span>

                </div>
            </div>
        </div>
        <div class="duo">
            <div>
                <img src="../../../assets/databases.png" alt="">
                <h1>Bases de datos</h1>
                <div class="span-container">
                    <span><b>PostgreSQL</b></span>
                    <span><b>MySQL</b></span>
                    <span><b>OracleSQL</b></span>
                    <span><b>SQLServer</b></span>
                    <span><b>PgAdmin</b></span>
                    <span><b>PL/SQL</b></span>

                </div>
            </div>
            <div>
                <img src="../../../assets/edit-tools.png" alt="">
                <h1>Herramientas</h1>
                <div class="span-container">
                    <span><b>Git</b></span>
                    <span><b>GitHub</b></span>
                    <span><b>Visual Studio Code</b></span>
                    <span><b>Intellij</b></span>
                    <span><b>Postman</b></span>
                    <span><b>Tradicional: Cascada</b></span>
                    <span><b>Agil: Scrum</b></span>

                </div>
            </div>
        </div>
    </div>
</div>
