<div class="container">
    <h1>Otros proyectos en github</h1>
    <div class="tarjetas">
    <div class="tarjeta-proyecto">
        <div class="titulo">Agenda Web de disponibilidad de horario de medicos 📅 BACK-END</div>
        <p>Agenda web para generar disponibilidad de horario de un medico por fecha y hora segun fecha. BACK-END </p>
        <div class="tecnologias">
          <span class="tecnologia">JDK 17</span>
          <span class="tecnologia">Spring Boot</span>
          <span class="tecnologia">PostgreSQL</span>
          <span class="tecnologia">pgAdmin</span>
          <span class="tecnologia">Docker</span>
          <span class="tecnologia">Docker-compose</span>
          <span class="tecnologia">AWS</span>
          <!-- Agrega más tecnologías según sea necesario -->
        </div>
        <div class="iconos">
            <a href="https://github.com/mndiazf/asignar-horario-springboot" target="_blank"><img src="../../../assets/github-logo.png" alt="githubredirect"></a>
        </div>
      </div>


      <div class="tarjeta-proyecto">
        <div class="titulo">backend-spring-boot-jwt-postgresql</div>
        <p>Aplicacion que registra y loguea usuarios con JWT  </p>
        <div class="tecnologias">
          <span class="tecnologia">JDK 17</span>
          <span class="tecnologia">Spring Boot</span>
          <span class="tecnologia">PostgreSQL</span>
          <span class="tecnologia">pgAdmin</span>
          <span class="tecnologia">Docker</span>
          <span class="tecnologia">Docker-compose</span>
          <span class="tecnologia">AWS</span>
          <!-- Agrega más tecnologías según sea necesario -->
        </div>
        <div class="iconos">
            <a href="https://github.com/mndiazf/backend-spring-boot-jwt-postgresql" target="_blank"><img src="../../../assets/github-logo.png" alt="githubredirect"></a>
        </div>
      </div>


      <div class="tarjeta-proyecto">
        <div class="titulo">Insert Image Spring Boot 🌱</div>
        <p>Aplicacion Spring Boot que guarda una imagen en base64 en postgresql </p>
        <div class="tecnologias">
          <span class="tecnologia">JDK 17</span>
          <span class="tecnologia">Spring Boot</span>
          <span class="tecnologia">PostgreSQL</span>
          <span class="tecnologia">pgAdmin</span>
          <span class="tecnologia">Docker</span>
          <span class="tecnologia">Docker-compose</span>
          <span class="tecnologia">AWS</span>
          <!-- Agrega más tecnologías según sea necesario -->
        </div>
        <div class="iconos">
            <a href="https://github.com/mndiazf/insert-image-spring-boot" target="_blank"><img src="../../../assets/github-logo.png" alt="githubredirect"></a>
        </div>
      </div>



      <div class="tarjeta-proyecto">
        <div class="titulo"> RegistrApp-Backend </div>
        <p>BACK-END de la aplicacion RegistrApp la cual brinda las funcionalidades de login y asignacion de disponibilidad de cita medica</p>
        <div class="tecnologias">
          <span class="tecnologia">JDK 17</span>
          <span class="tecnologia">Spring Boot</span>
          <span class="tecnologia">PostgreSQL</span>
          <span class="tecnologia">pgAdmin</span>
          <span class="tecnologia">Docker</span>
          <span class="tecnologia">Docker-compose</span>
          <span class="tecnologia">AWS</span>
          <!-- Agrega más tecnologías según sea necesario -->
        </div>
        <div class="iconos">
            <a href="https://github.com/mndiazf/RegistrApp-Backend" target="_blank"><img src="../../../assets/github-logo.png" alt="githubredirect"></a>
        </div>
      </div>
    </div>
</div>
