
*, html {
    scroll-behavior: smooth !important;

  }
  

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;}

// Estilos para el cuerpo del documento
body {
background-color: #1f1f1f;
color: #f5f5f5;

}


