@import "variables";

html {
    scroll-behavior: smooth;
  }
  

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

// Estilos para el cuerpo del documento
body {
background-color: $color-negro;
color: $color-blanco;

}



// Estilos para enlaces
a {
color: $color-morado-claro;
text-decoration: none;

&:hover {
    color: $color-morado-medio;
}
}

// Estilos para botones
button {
padding: 10px 20px;
background-color: $color-morado-oscuro;
border: none;
color: $color-blanco;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.2s;

&:hover {
    background-color: $color-morado-medio;
}
}

